body{
  /* background-image: url("https://images.pexels.com/photos/1231171/pexels-photo-1231171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-attachment: fixed; */
  text-align: center;
  background:#ecf1f5;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.cards-container > div {
  width: 250px;
  margin: 5px;
  
}
.header {
  text-align: center;
  height: 20vh;
  background-color: rgba(0, 0, 0, 0.938);
 
}
.header > h1{
  color: white !important;
}
.spin{
  margin: 20px;
}
.ant-spin-dot-item{
  background: black;
}
